body
{
	background-color: black;
	color: white;
	font-size: 25px;
}

.link-button {
	background-color: #444;
	color: #eee;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
	transition: 0.4s;
}

.link-button:hover
{
	background-color: #666;
}